name: Draw ZMK keymaps

on:
  push:
    branches:
      - main
    paths:
      - "config/*.keymap"
      - "keymap_drawer.config.yaml"
      - "boards/**.dtsi"
  workflow_dispatch:

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: write
    with:
      keymap_patterns: "config/*.keymap"
      config_path: "keymap_drawer.config.yaml"
      output_folder: "keymap-drawer"
      parse_args: ""
      draw_args: ""
